<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <title>Aboard to Mars</title>
</head>
<body>
    <nav>
        <a href="/"> <div class="logo"></div>
        </a>
        <ul>
            <a href="/">
                <li>home</li>
            </a><a href="/auth/register">
                <li>register</li>
            </a><a href="/about">
                <li>about us</li>
            </a>
        </ul>
    </nav>
  

  <div class="about-main">
    <div class="about-heading">
        <table>
            <tr>
                <td>
                    <h1 class="a">ABOUT US</h1>
                
                    <p>
                        The National Aeronautics and Space Administration(NASA) is an independent agency of the US federal government responsible for the civil space program, aeronautics research, and space research.
                        NASA was established in 1958, succeeding the National Advisory Committee for Aeronautics (NACA), to give the US space development effort a distinctly civilian orientation, emphasizing peaceful applications in space science.Since its establishment, most American space exploration efforts have been led by NASA, including the Apollo Moon landing missions, the Skylab space station, and later the Space Shuttle. NASA is supporting the International Space Station.
                    </p>
                </td>
            <td>
                <img class="aboutimg" src="assets/about.jpg" width="100%" height="100%" >
            </td>
            </tr>
       </table>
        
        <div class="illus2"></div>
    </div>
  </div>
</body>
</html>