<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <title>Aboard to Mars</title>
</head>
<body>
    <nav>
        <a href="/"> <div class="logo"></div>
        </a>
        <ul>
            <a href="/">
                <li>home</li>
            </a><a href="/auth/register">
                <li>register</li>
            </a><a href="/about">
                <li>about us</li>
            </a>
        </ul>
    </nav>
  

   
    <div class="main">
    <div class="heading">
        
        
        
        <table>
            <tr>
                <td>
                    <h1 class="a">ABOARD TO MARS</h1>
                
                    <p>
                        The efforts of NASA and SpaceX have successfully helped humanity establish a multi-planetary presence. In other words, humans have established both scientific and residential bases on Mars.
                        NASA's scientists have now agreed to *open the planet* to the public of Earth, and they are looking for 50 volunteers who would be aboard the next spaceflight to Mars—the first one for tourism.
                    </p>
                </td>
                <td>
                    <img src="assets/home.svg" width="100%" height="100%" > 
                </td>
            </tr>
        </table>
        

        <div class="illus"></div>
    
    </div>
  </div>
</body>
</html>
